@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}

body {
    background-color: rgb(44, 44, 44);
    color: rgb(255, 177, 138);
}

h1 {
    letter-spacing: 1.5px;
    text-shadow: 2px 2px #777;
}

a {
    color: steelblue;
}