.navLink {
  margin-left: 30px;
  text-decoration: none;
  color: rgb(255, 177, 138);
}

.navLink:hover {
  color: #fff;
}

.container {
  margin: 50px auto;
  max-width: 600px;
  padding: 30px;
  border: 1px solid #ccc;
  text-align: center;
}

.container h1 {
  margin-bottom: 20px;
}

td {
  border: 1px solid #ccc;
  padding: 10px 20px;
}

.heading {
  background-color: steelblue;
  color: #000;
}

@media only screen and (max-width: 600px) {
  .container {
    border: none;
  }
  td {
    font-size: 12px;
  }
}